* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: all .1s ease-in-out;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.container__main {
  box-sizing: border-box;
  background: #f8f8fa;
  background-image: url(../image/header__bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  position: relative;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
  padding-bottom: 400px;
}

.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px 15px 0;
}

.mySidenav {
  display: none;
}

.header__title-main {
  margin: auto;
  max-width: 127px;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 52px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.dropdown {
  display: none;
}

.header__list-item a {
  margin-left: 2em;
  text-decoration: none;
  color: #414141;
}

.subtitle {
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  max-width: 1170px;
  padding-top: 260px;

}

.subtitle__title {
  font-size: 66px;
  font-weight: bold;
}

.subtitle__title-desc {
  line-height: 1.5rem;
  max-width: 370px;
}

.subtitle__button {
  background: #ff6033;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 56px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: 0.8s;
  margin-top: 32px;
}

.subtitle__button:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  transform: scale(1.05);
  cursor: pointer;
  background: #4c101a;
}

.header__list-item a:hover {
  display: block;
  padding-top: 2px;
  border-top: 2px solid #ff6033;
  cursor: pointer;
}

.header__mouse {
  color: black;
  font-size: 25px;
  position: fixed;
  text-align: center;
  top: 90%;
  left: 50%;
  opacity: 0.5;
  z-index: 50;
}

.header__scroll:visited {
  color: black;
}

.header__mouse:hover {
  transform: scale(1.2);
}

.cup {
  background-color: #00baba;
}

.cup__wrapper {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
  padding: 0 15px 20px;
}

.cup__image {
  margin-top: 50px;
  max-width: 668px;
  width: 100%;
  align-self: flex-start;
}

.cup__title {
  align-self: center;
  max-width: 500px;
  margin: 0px;
}

.cup__title-main {
  font-weight: bolder;
  font-size: 67px;
  margin-bottom: 30px;
}

.cup__title-desc {
  line-height: 1.5em;
  font-weight: 300;
  font-size: 17px;
  text-align: justify;
}

.service {
  background: #70bfff;
}

.service__wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  background: #70bfff;
  background-size: cover;
  background-repeat: repeat;
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  padding: 50px 15px 0;
}

.list__item {
  float: left;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 50px 0px 50px 0;
  margin: 0 10px 0 0;
}

.service__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: 100px;
  background: #ffffff;
  margin: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.service__item span {
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.service__item-img::before {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  border-right: 1px solid #9d9d9d;
  text-align: center;
}

.service__item-img img {
  width: 47px;
  margin: 0 26px;
}

.service__item:hover,
.service__item span:hover {
  background: #fb6835;
  color: #fff5e4;
  cursor: pointer;
  border-radius: 15px;
}

.service__image {
  margin-top: 30px;
  padding-top: 30px 0;
  background-image: url(../image/tomato_bg.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  max-width: 462px;
  width: 100%;
  min-height: 600px;
  margin-left: 10%;
}

.service__title {
  font-size: 72px;
  font-weight: bold;
  color: white;
  align-self: center;
}

.gallery {
  background: #ffe92f;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 70px;

}

.gallery__header {
  text-align: center;
}

.gallery__header h2 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 72px;
  color: #262626;
  padding-top: 100px;
  padding-bottom: 25px;
}

.gallery__title-desc {
  margin: auto;
  font-size: 17px;
  font-weight: 300;
  max-width: 599px;
  padding-bottom: 25px;
  padding: 0 20px;
  line-height: 1.7em;
}

.gallery__collage-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__main {
  flex-basis: 770px;
  margin: 15px;
}

.gallery__main img {
  width: 100%;
}

.gallery__aside-right {
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
}

.gallery__aside-right img {
  margin: 15px;
}

.gallery__down {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gallery__down-first,
.gallery__down-second {
  flex-basis: 560px;
  margin: 15px;
}

.gallery__collage img {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.gallery__collage img:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.gallery__button {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  height: 55px;
  background: #5585a2;
  border: none;
  color: white;
  display: block;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  margin-top: 50px;
  cursor: pointer;
}

.gallery__button:hover {
  transform: translate(5%);
  transition: .5 ease-in-out;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.subs {
  font-family: 'Raleway', sans-serif;
  background-image: url(../image/subscribe_bg.png);
  background-position: center;
  background-repeat: no-repeat;
}

.subs__wrapper {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;

}

.subs__info {
  max-width: 1100px;
  width: 100%;
  padding: 145px 10px 163px 0;
}

.subs__title {
  max-width: 305px;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0;
}

.subs__title-desc {
  max-width: 540px;
  width: 100%;
  line-height: 1.5em;
}

.subs input[type="email"] {
  max-width: 570px;
  width: 100%;
  height: 57px;
  padding-left: 10px;
  margin: 15px 10px 0 0;
  padding-left: 20px;
  border: 1px solid black;
}

.subs input[type="email"]::placeholder {
  color: black;
  opacity: .5;
}

.subs__form-wrapper {
  padding-right: 15px;
}

.subs input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  width: 170px;
  height: 55px;
  background: #96b92c;
  border: none;
  color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  margin-top: 50px;
  cursor: pointer;

}

.subs input[type="submit"]:hover {
  transform: translate(5%);
  transition: .5 ease-in-out;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.blog {
  padding: 5px;
  background: #b07cfc;
}

.blog__info {
  margin: 0 auto;
  max-width: 1200px;
  color: white;
}

.blog__header {
  margin: auto;
  margin-top: 100px;
  max-width: 600px;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.blog__title {
  margin-bottom: 36px;
  font-size: 70px;
}

.blog__title-desc {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 36px;
  font-weight: 300;
  line-height: 1.5em;
}

.blog__main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog__main .blog__fruit {
  max-width: 370px;
  max-height: 310px;
  margin: 10px;
  position: relative;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.8);
}

.blog__mohito {
  background-image: url(../image/mohito.png);
  width: 370px;
  height: 310px;
}

.blog__bob {
  background-image: url(../image/bob.png);
  width: 370px;
  height: 310px;
}

.blog__strawberry {
  background-image: url(../image/strawberry.png);
  width: 370px;
  height: 310px;
}

.blog__fruit {
  position: relative;
}

.blog__date {
  position: absolute;
  margin-bottom: 50px;
  width: 61px;
  height: 61px;
  top: 30px;
  left: 30px;
  padding: 5px;
  background: black;
  opacity: 0.7;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.blog__date:hover {
  transform: rotate(360deg);
  border-radius: 50%;
  border: 2px orange solid;
  transition: 1s;
}

.blog__text:hover {
  transform: translateY(-20px) scale(1.05);
  transition: 1s;
}

.blog__date.blog__text {
  bottom: 34px;
  left: 28px;
  color: white;
  opacity: 1;
  font-size: 18px;
  max-width: 328px;
  max-height: 79px;
}

.blog__text {
  width: 80%;
  font-family: 'Raleway';
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 7%;
  bottom: 7%;
}

.blog__author {
  color: white;
  font-weight: 300;
  font-size: 16px;
  opacity: .7;
}

.blog__main .blog__fruit:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: .5s ease-in-out;
}

.blog__fruit:hover {
  cursor: pointer;
}

.blog button {
  border: 1px #f72b3b solid;
  display: block;
  margin: 0 auto;
  background: #f72b3b;
  color: white;
  width: 201px;
  height: 56px;
  font-size: 20px;
  font-family: 'Raleway';
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 100px;
}

button:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  transform: scale(1.01);
  filter: brightness(50%);
}

.last {
  background-image: url(../image/footer_bg.png);
  background-size: cover;
  background-position: 0 50%;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 110px;
}

.last__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.last__header {
  margin: 0 auto;
  max-width: 342px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.last__header-title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 65px;
}

.last__title-desc {
  line-height: 1.5em;
}

.last__main-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  margin-top: 20px;
}

.textbox {
  color: white;
  margin: 15px;
}

.textbox input {
  max-width: 450px;
  height: 51px;
  border: none;
  background: #00c4c4;
  color: white;
  opacity: 0.5;
  padding-left: 10px;
}

input:hover,
input:focus {
  opacity: 1;
  border-left: 4px solid #355b82;
}

input::placeholder {
  color: white;
}

.form {
  box-sizing: border-box;
  max-width: 450px;
  width: 100%;
  height: auto;
}

form input {
  max-width: 450px;
  width: 100%;
}

textarea {
  max-width: 450px;
  width: 100%;
  border: none;
  background: #00c4c4;
  color: white;
  opacity: 0.5;
  resize: none;
  padding-left: 10px;
  padding-top: 15px;
}

textarea::placeholder {
  color: white;
}

textarea:hover,
textarea:focus {
  opacity: 1;
  border-left: 4px solid #355b82;
}

.textbox input[type="submit"] {
  opacity: 1;
  font-size: 22px;
  letter-spacing: 3px;
  max-width: 450px;
  font-weight: 700;
  width: 100%;
  height: 51px;
  border: none;
  background: #00c4c4;
  color: white;
  padding-left: 10px;
}

.textbox input[type="submit"]:hover,
.textbox input[type="submit"]:focus {
  cursor: pointer;
  transform: scale(1.02);
  border-radius: 5px;
  background: #1792d2;
  box-shadow: 10px 10px 10px black;
  text-shadow: 10px 10px 10px black;
  border: none;
}

.last__main-address {
  margin-top: 20px;
  max-width: 317px;
  width: 100%;
  margin-left: 10%;
}

.address__title {
  text-transform: uppercase;
}

.main__address-status {
  margin: 10px 0;
}

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
  background: black;
  color: #b9b9b9;
  font-family: 'Raleway', sans-serif;

}

.footer__wrapper {
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__title {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  padding-right: 10px;
  align-self: center;
}

.footer__lover {
  color: red;
}

.footer__lover .footer__lover {
  color: red;
}

@media only screen and (max-width: 1216px) {
  .gallery__aside-right {
    flex-direction: row;
  }
}

@media only screen and (max-width: 1019px) {
  .header {
    justify-content: center;
  }

  .header__title-main {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 1185px) {
  .cup__title {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 868px) {
  .last__main-address {
    text-align: center;
    margin-left: 0;
  }
}


@media only screen and (max-width: 815px) {
  .gallery__aside-right {
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
  }

  .gallery__aside-right img {
    width: 100%;
    justify-content: center;
  }

  .gallery__down {
    margin-left: 0;
  }
}

@media only screen and (max-width: 619px) {
  .gallery__down img {
    width: 100%;
  }
}


@media only screen and (max-width: 599px) {
  .subtitle {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
  }

  .subs__info {
    text-align: center;
    padding-left: 10px;
  }

  .subtitle {
    padding-bottom: 200px;
  }

  .subs__title {
    max-width: 1100px;
  }

  .subtitle__title-desc {
    margin: 0 auto;
  }

  .footer {
    flex-direction: column-reverse;
    text-align: center;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 549px) {
  .header {
    justify-content: space-around;
    background: black;
    color: white;
  }

  .header__list {
    display: none;
  }

  .header__title-main {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34),
      0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92),
      0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }

  .hamb__menu {
    list-style: none;
  }

  .dropbtn {
    background-color: #ff6033;
    color: white;
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff6033;
    border: 1px solid white;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }

  .dropdown-content a {
    color: white;
    border: 1px solid white;
    padding: 10px 8px;
    font-weight: 400;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #4c101a;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #4c101a;
  }

  .mySidenav {
    position: relative;
    display: block;
    z-index: 150;
  }

  .mySidenav a {
    position: fixed;
    left: -90px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  .mySidenav a:hover {
    left: 0;
  }

  .nav__home {
    top: 20px;
    background: green;
  }

  .nav__about {
    top: 80px;
    background-color: #2196F3;
  }

  .nav__service {
    top: 140px;
    background-color: #f44336;
  }

  .nav__gallery {
    top: 200px;
    background-color: #555
  }

  .nav__blog {
    top: 260px;
    background: orange;
  }

  .nav__contact {
    top: 320px;
    background: purple;
  }

  .service__image {
    background-size: contain;
  }

}

@media only screen and (max-width: 499px) {
  .service__title {
    text-align: center;
  }

  .service__image {
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {

  .list__item {

    padding: 0px 10px 0px 0;
    margin: 0 10px 0 0;
  }

  .service__image {
    margin-top: 30px;
    padding-top: 30px 0;
  }
}